@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  /* background-color: white; */
  color: white;
  font-family: "Montserrat", sans-serif;
}
.scrolled {
  background: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
}
.logo-image {
  width: 1.875rem;
  height: 1.875rem;
  padding-right: 8px;
  margin-top: 16px;
}
.hamburger-menu {
  display: none;
}
body {
  background: linear-gradient(to right, #0f52ba, #6a0dad, #a7c7e7);
  color: white;
  font-family: "Lato", sans-serif;
  margin: 50px;
}

.main {
  margin-top: 10%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  padding: 10px;
  /* color: black; */
  font-weight: 600;
  font-size: 18px;
}

ul {
  display: flex;
}

#myName {
  text-align: center;
  font-weight: 700;

  /* color: #880e4f; */
}

#myIntro {
  font-size: 20px;
  width: 50%;
}

.skillsHeading {
  text-decoration: underline;
  font-weight: bold;
}

.skillsets {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.eachSkill {
}

.image {
  width: 64px;
}

#Projects {
  margin-top: 2%;
}

#Projects > h1 {
  margin-top: 2%;
  text-decoration: underline;
  text-decoration-color: #a7c7e7;
}
.projects-container {
  display: flex;
  justify-content: space-between;
}
.project-desc {
  /* width: 50%; */
  font-size: 16px;
  font-weight: bold;
}
.project-image {
  width: 90%;
  border-radius: 12px;
}
.hover-transition {
  transition: transform 0.3s ease;
}
.hover-transition:hover {
  transform: scale(1.1); /* Scales the image up by 10% */
}

.animated-text {
  animation: colorChange 3s infinite;
}

.animated-text:hover {
  text-decoration: underline;
}
@keyframes colorChange {
  0% {
    color: #fff;
  }
  50% {
    color: #a7c7e7;
  }
  100% {
    color: rgb(239, 66, 188);
  }
}

#contactMe {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
}

.contact-text {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: palevioletred;
}

@media (max-width: 768px) {
  body {
    margin: 15px;
  }
  ul {
    display: none;
  }
  .nav-items {
    display: flex;
  }
  .hamburger-menu {
    align-self: center;
  }

  #myIntro {
    width: 100%;
  }

  .project-desc {
    width: 100%;
  }
  .project-image {
    width: 100%;
  }
  .projects-container {
    display: block;
  }

  .skillsets {
    grid-template-columns: auto auto auto;
  }
}
